.app {
  border: 1px solid #eee;
  padding: 15px;
  background-repeat: no-repeat;
  /*background-size: auto;*/
  background-size: 100% auto;
}

h1 {
  margin-top: 0;
  margin-bottom: 15px;
}

/* .book {
  border: 1px solid #ccc;
  width: 200px;
  display: inline-block;
} */

.author-link:active {
  color: #800000;
}

.author-link:hover {
  color: #C70039;
  text-decoration: none;

}

.author-link {
  font-size: 110%;
}

.card-img-top {
  height: 200px;
  width: 237.5px;
}

.btn {
  background-color:  #FFC300;
  border: 2px solid #FFC300;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-size: 120%;
}

.btn:hover {
  background-color: #FF5733 ;
  color: white;
  border: 2px solid #FF5733;
}

.card-title {
  font-size: 170%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

/* .bar {
  width: 100%;
} */

/* #search {
  margin: 0 auto;
    display: inline-block;
} */
